extends layout
block content
  main.about
    h1.content__title Move Club 🚀
    .content__block
      h2 Our Mission
      p Move club aims to use blockchain technology to reward humans who use their body to move. Run, jump, siwm, cycle, hike, kayak, paraglide, we don't care how you move just that you're moving.
      p It is our fundemental belif that a good life is one that involes using our bodies for more than what is necessary.

      h2 Distributed
      p We don't own your data. Data added to the blockchain is maintained by hundred of witnesses who run specialised software. Access to this data is available unrestricted via multiple FOSS tools and other websites and companies also built around the data.

      p It is our aim to always make data entered or used on Move Club avalible via alternative intefaces if developers decided to integrate our ideas.

      h2 Free
      p There is no fee to use Move Club, accounts can be created free of charge on the STEEM blockchain.

      h2 How To Sign Up
