doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel='stylesheet', href='/main.css')
    link(href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet")
  body.cf
    include partials/nav
    block content
    footer
      .footer__bar
        a.footer__link(href="/about") About
        a.footer__link(href="/attributions") Attributions
        span.footer__tagline Made with &hearts; by a human named Sam ✌️

    script(src="/main.js")
