extends layout
block content
  main.profile(data-user=user data-username=username)

    section.profile__info
      hr
      h3.profile__heading Last 4 Weeks
      li.profile__item -

    secton.profile__feed
      h3.profile__heading Latest Activity
      .workouts

    section.profile__achivements

      h3.profile__heading Groups
      .profile__block
        li.profile__item -
      h3.profile__heading Current Challanges
      .profile__block
        li.profile__item -
      h3.profile__heading Achivements
      .profile__block
        li.profile__item -
