body {
  padding-bottom: 150px;
  background: #fbfbfc;
  min-height: 100vh;
  font-family: 'Varela Round', sans-serif;
}

.loading-spinner {
  width: 23px;
  margin-left: 7px;
}

a {
  color: #595959;
  border-bottom: dashed 1px transparent;
  transition: all 50ms ease-in;
}
a:hover {
  color: #ffb40d;
  text-decoration: none;
  border-bottom: dashed 1px #ffb40d;
}

header {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 75px;
  background-color: #fff;
}

.nav__actions {
  float: right;
  padding: 15px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background: linear-gradient(rgba(255,255,255,0), #fff);
}

.footer__bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}
.footer__link {
  float: left;
  margin: 0 15px;
  color: #535353;
}

.footer__tagline {
  float: right;
  font-size: 0.8rem;
  margin-top: 4px;
}
.brand {
  padding: 15px;
  float: left;
  border-right: solid 1px #f3f3f3;
}
.brand__logo{

  transform: translateY(3px);
  max-width: 120px;
  width: 120px;
}


main {
  max-width: 1280px;
  margin: 0 auto;
}


.nav__user {
  float: right;
}
.nav__user-avatar {
  border-left: solid 1px #f3f3f3;
  padding: 15px 15px;
  float: right;
}

.nav__user-vote-weight {
    border-left: solid 1px #f3f3f3;
    padding: 9px 15px;
    float: right;
    cursor: pointer;
}
.nav__user-avatar img {
  width: 30px;
  border-radius: 50%;
  border: solid 2px #ccc;
}

// nav - view
.view {
  padding: 15px;
  float: left;
}

.view__type, .nav__actions .nav__logout {
  margin: 5px;
  color: #c6c6c6;
  font-size: 18px;
  cursor: pointer;
}

.view__type--active {
  color: #595959;
}

.view__divider {
  color: #c6c6c6;
  margin: 0 10px;
}
.view__icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  transform: translateY(4px);
  fill: #c6c6c6;
  stroke: #c6c6c6;
}
.view__icon--active {
  fill: #595959;
  stroke: #595959;
}

.button {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding: 4px 16px;
  border: solid 1px #d7d7d7;
  background-color: #efefef;
  color: #5d5d5d;
  border-radius: 4px;
}
.button:hover {
  text-decoration: none;
  color: #333;
}

.button--steemconnect {
  padding: 8px 16px 8px 10px;
  border: solid 1px #5aa9ed;
  background-color: #5ab3ff;
  color: #fff;
}
.button--steemconnect:hover {
  color: #fafafa;
  text-decoration: none;
  background-color: #5da1db;
  border: solid 1px #5aa9ed;
}
.button--steemconnect img {
  width: 16px;
  margin-right: 10px;
}

.content__title {
  color: #8b8b8b;
  text-align: center;
}

.content__block {
  max-width: 60%;
  background: #fff;
  box-shadow: 0 3px 8px rgba(0,0,0,0.12);
  background: #fff;
  padding: 30px;
  margin: 30px auto ;
}
